*{
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
    background-color: #f0f0f0; 
    align-items: center;
}


.container {
    background-color: #ffffff; 
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 80%; 
    max-width: 500px; 
    margin-bottom: 20px;
}

h1 {
    font-size: 1.2em;
    font-weight: bold; 
    color: #333;
}


ul {
    list-style-type: disc;
}

li {
    margin-bottom: 5px;
}


label {
    display: block;
    font-weight: bold;
    color: #555;
}


button {
    background-color: #333;
    color: white;
    border: none;
}

button:hover {
    background-color: #555;
}

table {
    width: 100%;
    border-collapse: collapse; 
    margin-top: 10px;
}

th, td {
    border: 1px solid #ddd;

    text-align: left;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

